button {
  border: 1px solid #5e687c;
  border-radius: 15px;
  background: none;
  color: #5e687c;
  width: 75px;
  height: 60.2332px;
  margin-left: 10px;
}

button:hover {
  border: 1px solid silver;
  color: silver;
}
