input {
    border: none;
    border: 1px solid #5e687c;
    border-radius: 15px;
    background: #282c34;
    color: white;
    width: 400px;
    height: 50px;
    padding: 4px 15px;
}
input:focus {
    outline: 0;
    border: none;
    border: 1px solid silver;
}
